@media only screen and (max-width: 1024px) {
    .dark-mode {
        svg {
            width: 18px;
            height: auto;
        }
    }
    .search {
        svg {
            width: 20px;
        }
    }
    
}